@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*
----------------------------------
GENERAL RULES
----------------------------------
*/
body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}
h1 {
  font-size: 2.5em;
  color: #fff;
}

/*
-------------------------------------
HEADER
-------------------------------------
*/
main > header {
  background-color: #aa3131;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 7.5rem;
  padding: 1rem 0rem;
}
header > div {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
header > div > input {
  max-width: 12em;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  color: #2e2e2e;
}
header > div > button {
  background-color: transparent;
  border: none;
}
header > div > button > img {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
}
/*
-------------------------------------
POKEMON LIST 
-------------------------------------
*/
#pokemon-list {
  list-style: none;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0 0 0;
}
#pokemon-list > li {
  background-color: #c4c4c4;
  margin: 0.6rem 0;
  width: 80%;
  max-height: 100vh;
  padding: 1rem;
  color: #f7f7f7;
  border-radius: 1rem;
  font-size: 1.5rem;
}

/*
-----------------------------------------------------
POKEMON CARD
-----------------------------------------------------
*/
aside#pokemon-card {
  background-color: #f6f6f6;
  color: #9e3a1a;
}
aside#pokemon-card > header {
  background-color: #9e3a1a;
  display: flex;
  justify-content: center;
}
aside#pokemon-card > header > img {
  width: 350px;
}
aside#pokemon-card h2:first-of-type {
  text-align: center;
}
aside#pokemon-card > ul {
  font-weight: 300;
  padding: 1.5rem 0.5rem;
}
aside#pokemon-card > ul > li {
  display: flex;
  padding: 0.5rem;
}
aside#pokemon-card > ul > li > p:first-of-type {
  width: 50%;
}
aside#pokemon-card > ul > li > div > p {
  color: #f7f7f7;
  position: absolute;
  padding: 0.2rem 1rem;
  line-height: 1;
}
aside#pokemon-card > ul > li > div {
  width: 50%;
  height: 1.5rem;
  background-color: #c4c4c4;
}
aside#pokemon-card > ul > li > div > div {
  width: 0%;
  height: 1.5rem;
  background-color: #9e3a1a;
}
/*
----------------------------------------------------------
TYPES LIST
----------------------------------------------------------
*/

section#filters {
  display: flex;
  align-items: flex-end;
}
ul#types-list {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  bottom: 0;
  padding: 1rem 0.5rem;
  background-color: #f7f7f7;
}

ul#types-list li {
  list-style: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100px;
  background-color: #c4c4c4;
  margin: 0.5rem;
}
